Repository apollographql/apollo-client, pull requests merged in 2018-06, with the labels that each got.

#3542 Update 2.0-migration.md
  docs/source/recipes/2.0-migration.md
Labels: docs

#3313 Add broken link checker and circle ci integration
  .circleci/config.yml
  dangerfile.ts
  docs/_config.yml
  docs/package.json
  docs/source/advanced/caching.md
  docs/source/advanced/fragments.md
  docs/source/advanced/subscriptions.md
  docs/source/basics/mutations.md
  docs/source/basics/queries.md
  docs/source/basics/setup.md
  docs/source/features/caching.md
  docs/source/features/server-side-rendering.md
  docs/source/recipes/2.0-migration.md
  docs/source/recipes/meteor.md
  packages/apollo-boost/src/index.ts
  packages/apollo-cache-inmemory/src/inMemoryCache.ts
  packages/apollo-cache/src/cache.ts
  packages/apollo-cache/src/types/Cache.ts
  packages/apollo-cache/src/types/DataProxy.ts
  packages/apollo-client/src/ApolloClient.ts
Labels: docs, feature

#3548 Highlight the switch to apollo-client
  docs/source/recipes/authentication.md
Labels: docs

#3559 Remove duplicate word "full" from documentation
  docs/source/recipes/static-typing.md
Labels: docs

#3561 Allow pre-configured cache to be given as config option to Apollo Boost Client
  packages/apollo-boost/CHANGELOG.md
  packages/apollo-boost/package.json
  packages/apollo-boost/src/__tests__/config.ts
  packages/apollo-boost/src/index.ts
Labels: feature

#3596 Correct section id for "Next steps" in local-state.md
  docs/source/essentials/local-state.md
Labels: docs
