Repository apollographql/apollo-client, pull requests merged in 2018-07, with the labels that each got.

#3642 [docs] added related guides
  docs/_config.yml
Labels: docs

#3590 Accepting custom fetch in ApolloBoost
  CHANGELOG.md
  docs/source/essentials/get-started.md
  packages/apollo-boost/CHANGELOG.md
  packages/apollo-boost/src/__tests__/config.ts
  packages/apollo-boost/src/index.ts
  packages/apollo-utilities/src/storeUtils.ts
Labels: bug, feature

#3591 Add support for arrays to graphql-anywhere filter function - Issue #3483
  CHANGELOG.md
  packages/graphql-anywhere/CHANGELOG.md
  packages/graphql-anywhere/src/__tests__/utilities.ts
  packages/graphql-anywhere/src/utilities.ts
Labels: feature

#3609 ISSUE-3603 Some API doc updates for ErrorPolicy, FetchPolicy, and ObservableQuery
  CHANGELOG.md
  docs/_config.yml
  docs/source/api/apollo-client.md
Labels: docs

#3612 graphql-tag is already included in apollo-boost!
  docs/source/essentials/get-started.md
Labels: docs

#3705 docs: Update link to `create-react-app` instructions.
  docs/source/essentials/get-started.md
Labels: docs

#3703 Pagination: fix typo
  docs/source/features/pagination.md
Labels: docs

#3725 [docs] Add cache option info to apollo-boost get started
  docs/source/essentials/get-started.md
Labels: docs

#3668 Adds link to lit-apollo
  docs/source/index.md
  docs/source/integrations.md
Labels: docs

#3692 Document `setVariables` internal API status
  packages/apollo-client/CHANGELOG.md
  packages/apollo-client/src/ApolloClient.ts
  packages/apollo-client/src/core/ObservableQuery.ts
  packages/apollo-client/src/core/__tests__/ObservableQuery.ts
Labels: docs

#3688 [docs] refetchQueries should allow query name string
  docs/source/essentials/mutations.md
Labels: docs

#3687 [docs] consistently use PascalCase query, mutation, subscription name
  docs/source/advanced/caching.md
  docs/source/advanced/fragments.md
  docs/source/advanced/update-store.md
  docs/source/basics/mutations.md
  docs/source/basics/queries.md
  docs/source/essentials/local-state.md
  docs/source/essentials/mutations.md
  docs/source/essentials/queries.md
  docs/source/features/optimistic-ui.md
  docs/source/features/performance.md
  docs/source/recipes/recompose.md
  docs/source/why-apollo.md
Labels: docs

#3645 Updated script to generate fragmentTypes.json
  docs/source/advanced/fragments.md
Labels: docs

#3679 Docs Update: Mutations starter and completed project now use react-apollo 2.1.9
  docs/source/essentials/mutations.md
Labels: docs
