Repository apollographql/apollo-client, pull requests merged in 2019-04, with the labels that each got.

#4608 feat(apollo-client): Adds type vars to subscribeToMore for variables
  packages/apollo-client/src/__tests__/subscribeToMore.ts
  packages/apollo-client/src/core/watchQueryOptions.ts
Labels: ⛑ TypeScript, 🏓 waiting-response, 🧗‍♀️ rebase

#4573 Fix `QueryManager` for queries with `fetchPolicy="no-cache"`
  CHANGELOG.md
  packages/apollo-client/src/core/QueryManager.ts
Labels: 🐞 bug, 🛫 in-progress

#4553 docs(apollo-link-ws): change example to prevent a typescript error
  docs/source/advanced/subscriptions.md
Labels: ⛑ TypeScript, 📝 docs

#4551 Pass response type on mutations option (fix #4410)
  packages/apollo-client/src/core/watchQueryOptions.ts
Labels: ⛑ TypeScript

#4479 [docs] data is either TData or undefined
  docs/source/api/react-apollo.md
Labels: 📝 docs

#4467 Update react-apollo.md
  docs/source/api/react-apollo.md
Labels: 📝 docs

#4679 Upgrade theme to 0.2.46
  docs/package-lock.json
  docs/package.json
Labels: :christmas_tree: dependencies, 📝 docs

#4683 Upgrade theme to 0.2.47
  docs/package-lock.json
  docs/package.json
Labels: :christmas_tree: dependencies, 📝 docs

#4497 Adding documentation for the cache prop in MockedProvider
  docs/source/api/react-apollo.md
Labels: 📝 docs

#4397 docs: Update web components integrations
  README.md
  docs/source/index.md
  docs/source/integrations.md
Labels: 📝 docs

#4320 Describe how to auto-generate introspection result for Fragment Matcher
  docs/source/advanced/fragments.md
Labels: 📝 docs

#4685 Fix getCurrentResult() not always returning loading with fetchPolicy no-cache
  packages/apollo-client/src/core/ObservableQuery.ts
  packages/apollo-client/src/core/__tests__/ObservableQuery.ts
Labels: 🐞 bug

#4664 docs update for cache.writeQuery clarification
  docs/source/advanced/caching.md
  docs/source/essentials/mutations.md
Labels: 📝 docs

#4375 Update setup.md
  docs/source/basics/setup.md
Labels: 📝 docs

#4315 Docs: import gql from apollo-boost instead of graphql-tag
  docs/source/essentials/get-started.md
Labels: 📝 docs

#4298 Docs: Use Query and typescript generics over class
  docs/source/recipes/static-typing.md
Labels: 📝 docs

#4715 typo in react-apollo-migration.md
  docs/source/react-apollo-migration.md
Labels: 📝 docs

#4743 Support returnPartialData for watched queries again.
  CHANGELOG.md
  packages/apollo-client/src/core/LocalState.ts
  packages/apollo-client/src/core/QueryManager.ts
  packages/apollo-client/src/core/__tests__/ObservableQuery.ts
  packages/apollo-client/src/core/__tests__/QueryManager/index.ts
  packages/apollo-client/src/core/watchQueryOptions.ts
  packages/apollo-client/src/data/mutations.ts
  packages/apollo-client/src/data/queries.ts
  packages/apollo-client/src/data/store.ts
Labels: 🧞‍♂️ enhancement

#4745 Cleaned up the code a bit
  docs/source/api/react-apollo.md
Labels: 📝 docs

#4765 Preserve networkStatus for incomplete cache-and-network queries.
  CHANGELOG.md
  packages/apollo-client/src/core/__tests__/fetchPolicies.ts
  packages/apollo-client/src/data/queries.ts
Labels: 🐞 bug, 🛫 in-progress
