Repository apollographql/apollo-client, pull requests merged in 2020-09, with the labels that each got.

#6991 Improvements for cache.modify: details.storage and details.INVALIDATE
  CHANGELOG.md
  docs/source/api/cache/InMemoryCache.mdx
  docs/source/caching/cache-interaction.md
  package.json
  src/cache/core/types/common.ts
  src/cache/inmemory/__tests__/__snapshots__/cache.ts.snap
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/types.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧪 has-tests

#6997 Make ApolloQueryResult.data field non-optional again.
  CHANGELOG.md
  src/core/ObservableQuery.ts
  src/core/types.ts
Labels: ⛑ TypeScript, 📟 regression

#6935 allow querying connection metadata and then subsequent data in relayStylePagination
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/policies.ts
  src/utilities/policies/pagination.ts
Labels: 🧞‍♂️ enhancement, 🧪 has-tests

#6992 Make note about watchQuery refer to useQuery hook instead of Query component
  docs/source/api/core/ApolloClient.mdx
Labels: 📝 documentation

#6901 Bring back heuristic fragment matching, with a twist.
  CHANGELOG.md
  src/cache/inmemory/__tests__/__snapshots__/fragmentMatcher.ts.snap
  src/cache/inmemory/__tests__/fragmentMatcher.ts
  src/cache/inmemory/helpers.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/cache/inmemory/writeToStore.ts
Labels: :bulb: idea, 🍪 feature-request, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests

#6999 fix: Initialize query on updateObservableQuery even if skip is true
  src/react/data/QueryData.ts
Labels: ⚛️ React-related

#6837 Migrate apollo-link-persisted-queries functionality into Apollo Client
  CHANGELOG.md
  codemods/ac2-to-ac3/examples/link-packages.js
  codemods/ac2-to-ac3/imports.js
  config/entryPoints.js
  docs/gatsby-config.js
  docs/source/api/link/persisted-queries.md
  package-lock.json
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/exports.ts
  src/link/persisted-queries/__tests__/index.ts
  src/link/persisted-queries/__tests__/react.tsx
  src/link/persisted-queries/index.ts
Labels: :christmas_tree: dependencies, 👩‍🏭 refactor, 💬 discussion, 📦 bundle size, 🔗 apollo-link

#7003 Respect errorPolicy for mutation and subscription results.
  CHANGELOG.md
  src/__tests__/__snapshots__/mutationResults.ts.snap
  src/__tests__/mutationResults.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/watchQueryOptions.ts
Labels: 🐞 bug, 🧞‍♂️ enhancement, 🧪 has-tests

#6927 fix: Merge mutation variables from base options and function invocation
  CHANGELOG.md
  src/__tests__/__snapshots__/exports.ts.snap
  src/core/ApolloClient.ts
  src/core/index.ts
  src/react/data/MutationData.ts
  src/react/hoc/__tests__/mutations/index.test.tsx
  src/react/hooks/__tests__/useMutation.test.tsx
  src/utilities/common/compact.ts
Labels: 🧞‍♂️ enhancement, 🧪 has-tests

#7000 adds missing redirects for old 2.0 pages
  docs/static/_redirects
Labels: 📝 documentation, 🥦 low-priority

#7031 Improve documentation for cache.modify function
  docs/source/caching/cache-interaction.md
Labels: 📝 documentation

#7055 Disable missing cache fields warning when using returnPartialData
  CHANGELOG.md
  src/core/QueryManager.ts
  src/core/__tests__/QueryManager/index.ts
Labels: 💸 caching, 🧞‍♂️ enhancement

#7065 Support inheritance of typePolicies, according to possibleTypes.
  CHANGELOG.md
  package.json
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
Labels: :bulb: idea, 🍪 feature-request, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests

#7070 Allow custom merge functions (including merge:true and merge:false) in type policies.
  CHANGELOG.md
  docs/source/caching/cache-field-behavior.md
  package-lock.json
  package.json
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/helpers.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/types.ts
  src/cache/inmemory/writeToStore.ts
Labels: :bulb: idea, 🍪 feature-request, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests

#7075 Avoid warning about clobbering scalar fields.
  CHANGELOG.md
  src/cache/inmemory/__tests__/__snapshots__/writeToStore.ts.snap
  src/cache/inmemory/__tests__/writeToStore.ts
  src/cache/inmemory/writeToStore.ts
Labels: 🔠 quick-and-easy, 🧞‍♂️ enhancement, 🧪 has-tests

#7082 Provide a previousData property in useQuery/useLazyQuery results
  CHANGELOG.md
  docs/shared/query-result.mdx
  package.json
  src/react/components/__tests__/client/__snapshots__/Query.test.tsx.snap
  src/react/data/QueryData.ts
  src/react/hooks/__tests__/useLazyQuery.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/types/types.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement

#7098 Ensure InMemoryCache#read{,Query,Fragment} always return T | null.
  CHANGELOG.md
  docs/source/caching/cache-interaction.md
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/core/types/DataProxy.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: ⛑ TypeScript, 🍪 feature-request, 💬 discussion

#7100 Provide default empty StoreObject for root IDs like ROOT_QUERY.
  CHANGELOG.md
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/entityStore.ts
Labels: 👩‍🔬 needs-more-tests, 🧞‍♂️ enhancement
