Repository apollographql/apollo-client, pull requests merged in 2020-06, with the labels that each got.

#6371 Revert PR #6365
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/readFromStore.ts
Labels: 📟 regression

#6372 Warn when clobbering non-normalized data in the cache.
  CHANGELOG.md
  src/__tests__/ApolloClient.ts
  src/__tests__/optimistic.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/writeToStore.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/writeToStore.ts
  src/core/__tests__/QueryManager/index.ts
  src/utilities/graphql/storeUtils.ts
Labels: :bulb: idea, 🛠 tooling, 🧞‍♂️ enhancement

#6323 Update .vscode/launch.json to match official recipe.
  .vscode/launch.json
Labels: 🛠 tooling

#6223 (docs): fixed small error
  docs/source/api/react/hoc.mdx
Labels: 📝 documentation

#6193 Allow setting new ApolloLink after ApolloClient instantiation
  CHANGELOG.md
  src/ApolloClient.ts
  src/__tests__/ApolloClient.ts
Labels: 🧞‍♂️ enhancement

#6316 changed the query for mutation update
  docs/source/data/mutations.mdx
Labels: 📝 documentation

#6387 Let maybeBroadcastWatch broadcast older results, even if unchanged.
  src/cache/inmemory/inMemoryCache.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: :rose: has-reproduction, 🐞 bug, 🧪 has-tests

#6382 Fix defaultDataIdFromObject type declaration
  src/cache/inmemory/policies.ts
Labels: ⛑ TypeScript

#6388 Allow onNewData to be called when unmounted, during SSR.
  src/react/data/QueryData.ts
Labels: ⚛️ React-related, 📟 regression

#6395 Revert #6388 and #6216, fixing #6386 and #6385.
  src/react/data/QueryData.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 📟 regression

#6412 Test that cache evictions propagate to parent queries.
  src/cache/inmemory/__tests__/readFromStore.ts
Labels: :bulb: idea, ✍️ working-as-designed, 🧪 has-tests

#6413 Support options.isReference(ref, true) to check Reference validity.
  src/cache/core/types/common.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/cache/inmemory/types.ts
  src/cache/inmemory/writeToStore.ts
Labels: :bulb: idea, :thinking: needs-rethinking, 🧞‍♂️ enhancement

#6417 Ensure last results are reset when working with partial data
  package.json
  src/core/ObservableQuery.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 🐞 bug

#6419 Avoid network after incomplete optimistic cache results.
  src/cache/core/types/DataProxy.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/readFromStore.ts
  src/core/QueryManager.ts
  src/core/__tests__/fetchPolicies.ts
Labels: 🐞 bug, 🧪 has-tests

#6426 Add tests for errorPolicy:none and fix ObservableQuery bug with unpersisted error
  src/core/ObservableQuery.ts
  src/core/__tests__/ObservableQuery.ts
Labels: 🐞 bug, 🧪 has-tests

#6446 Refactor ReadMergeContext to ReadMergeModifyContext.
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/cache/inmemory/types.ts
  src/cache/inmemory/writeToStore.ts
Labels: 👩‍🏭 refactor, 🧩 implementation-detail

#6447 Allow cache.identify to take Reference objects.
  src/cache/core/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement

#6448 Stop feuds by skipping cache writes for unchanged network results.
  src/core/QueryInfo.ts
  src/core/__tests__/QueryManager/index.ts
Labels: :bulb: idea, 🚨 high-priority, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests

#6454 Automatically filter out dangling references from arrays.
  CHANGELOG.md
  package.json
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/readFromStore.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧪 has-tests

#6464 Deprecate fetchMore updateQuery function, and provide basic field policy helper functions
  CHANGELOG.md
  src/__tests__/fetchMore.ts
  src/cache/inmemory/policies.ts
  src/core/ObservableQuery.ts
  src/react/hooks/__tests__/useQuery.test.tsx
  src/utilities/index.ts
  src/utilities/policies/pagination.ts
Labels: 🐞 bug, 👻 deprecation, 🧪 has-tests

#6465 Implement a relayStylePagination field policy helper function.
  CHANGELOG.md
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/policies.ts
  src/utilities/index.ts
  src/utilities/policies/pagination.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧪 has-tests

#6478 Allow toReference to accept an id or Reference
  docs/source/caching/cache-field-behavior.md
  src/cache/core/types/common.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/entityStore.ts
Labels: 🧞‍♂️ enhancement, 🧪 has-tests

#6479 Let relayStylePagination read function return extra connection fields.
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/policies.ts
  src/utilities/policies/pagination.ts
Labels: 🔠 quick-and-easy, 🧞‍♂️ enhancement, 🧪 has-tests

#6400 renderToStaticMarkup is in ReactDOMServer, not ReactDOM
  docs/source/performance/server-side-rendering.mdx
Labels: ⚛️ React-related, 📝 documentation

#6488 Upgrade gatsby theme to use new tsapibox
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
Labels: 📝 documentation

#6493 Revert "Avoid network after incomplete optimistic cache results. (#6419)"
  src/cache/core/types/DataProxy.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/readFromStore.ts
  src/core/QueryManager.ts
  src/core/__tests__/fetchPolicies.ts
Labels: :thinking: needs-rethinking, 🐞 bug, 📟 regression

#6512 Make makeVar a global function instead of a method of InMemoryCache.
  CHANGELOG.md
  config/rollup.config.js
  package.json
  src/__tests__/client.ts
  src/cache/index.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/reactiveVars.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧪 has-tests

#6499 Migrate all React Apollo SSR features into Apollo Client
  CHANGELOG.md
  config/prepareDist.js
  config/rollup.config.js
  docs/source/migrating/apollo-client-3-migration.md
  src/react/ssr/__tests__/useLazyQuery.test.tsx
  src/react/ssr/__tests__/useQuery.test.tsx
  src/react/ssr/getDataFromTree.ts
  src/react/ssr/index.ts
  src/react/ssr/renderToStringWithData.ts
Labels: ⚛️ React-related, 👩‍🏭 refactor
