Repository apollographql/apollo-client, pull requests merged in 2020-07, with the labels that each got.

#6551 Run final mutation update against non-optimistic data.
  CHANGELOG.md
  src/__tests__/mutationResults.ts
  src/__tests__/optimistic.ts
  src/cache/core/cache.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/utilities/common/errorHandling.ts
Labels: 🐞 bug, 🧪 has-tests

#6558 Migrate React Apollo HOC/Components into Apollo Client
  .circleci/config.yml
  CHANGELOG.md
  config/prepareDist.js
  config/rollup.config.js
  docs/source/migrating/apollo-client-3-migration.md
  examples/bundling/no-tree-shaking/rollup-ac3-no-react/package-lock.json
  examples/bundling/no-tree-shaking/rollup-ac3/package-lock.json
  examples/bundling/tree-shaking/rollup-ac3-no-react/package-lock.json
  examples/bundling/tree-shaking/rollup-ac3/package-lock.json
  examples/bundling/tree-shaking/webpack-ac3/package-lock.json
  examples/bundling/tree-shaking/webpack-ac3/package.json
  package-lock.json
  package.json
  src/react/components/Mutation.tsx
  src/react/components/Query.tsx
  src/react/components/Subscription.tsx
  src/react/components/__tests__/client/Mutation.test.tsx
  src/react/components/__tests__/client/Query.test.tsx
  src/react/components/__tests__/client/Subscription.test.tsx
  src/react/components/__tests__/client/__snapshots__/Query.test.tsx.snap
  src/react/components/__tests__/ssr/getDataFromTree.test.tsx
  src/react/components/__tests__/ssr/server.test.tsx
  src/react/components/index.ts
  src/react/components/types.ts
  src/react/data/MutationData.ts
  src/react/hoc/__tests__/client-option.test.tsx
  src/react/hoc/__tests__/fragments.test.tsx
  src/react/hoc/__tests__/mutations/index.test.tsx
  src/react/hoc/__tests__/mutations/lifecycle.test.tsx
  src/react/hoc/__tests__/mutations/queries.test.tsx
  src/react/hoc/__tests__/mutations/recycled-queries.test.tsx
  src/react/hoc/__tests__/queries/__snapshots__/lifecycle.test.tsx.snap
  src/react/hoc/__tests__/queries/api.test.tsx
  src/react/hoc/__tests__/queries/errors.test.tsx
  src/react/hoc/__tests__/queries/index.test.tsx
  src/react/hoc/__tests__/queries/lifecycle.test.tsx
  src/react/hoc/__tests__/queries/loading.test.tsx
  src/react/hoc/__tests__/queries/observableQuery.test.tsx
  src/react/hoc/__tests__/queries/polling.test.tsx
  src/react/hoc/__tests__/queries/reducer.test.tsx
  src/react/hoc/__tests__/queries/skip.test.tsx
  src/react/hoc/__tests__/queries/updateQuery.test.tsx
  src/react/hoc/__tests__/shared-operations.test.tsx
  src/react/hoc/__tests__/ssr/getDataFromTree.test.tsx
  src/react/hoc/__tests__/ssr/server.test.tsx
  src/react/hoc/__tests__/statics.test.tsx
  src/react/hoc/__tests__/subscriptions/subscriptions.test.tsx
  src/react/hoc/graphql.tsx
  src/react/hoc/hoc-utils.tsx
  src/react/hoc/index.ts
  src/react/hoc/mutation-hoc.tsx
  src/react/hoc/query-hoc.tsx
  src/react/hoc/subscription-hoc.tsx
  src/react/hoc/types.ts
  src/react/hoc/withApollo.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/utilities/testing/mocking/__tests__/MockedProvider.test.tsx
  src/utilities/testing/mocking/__tests__/__snapshots__/MockedProvider.test.tsx.snap
  tsconfig.json
Labels: ⚛️ React-related, 👩‍🏭 refactor, 🧞‍♂️ enhancement

#6553 Fix @client(always: true) bug with useQuery, and add regression test.
  src/__tests__/local-state/general.ts
  src/core/ObservableQuery.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🐞 bug, 📟 regression, 🧪 has-tests

#6566 Stop delivering previous data in unrelated loading results.
  CHANGELOG.md
  src/react/components/__tests__/client/Query.test.tsx
  src/react/data/QueryData.ts
  src/react/hoc/__tests__/queries/lifecycle.test.tsx
  src/react/hoc/__tests__/queries/loading.test.tsx
Labels: :fried_egg: breaking change, ⚛️ React-related, 🐞 bug

#4925 Pass context from subscriptions through to links
  CHANGELOG.md
  src/__tests__/graphqlSubscriptions.ts
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/watchQueryOptions.ts
  src/utilities/testing/mocking/mockSubscriptionLink.ts
Labels: 🧞‍♂️ enhancement

#6583 Simulate loading result for original query before fetchMore.
  src/__tests__/fetchMore.ts
  src/core/ObservableQuery.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🐞 bug, 🧪 has-tests

#6587 Stop blocking duplicate renders based on skip settings
  CHANGELOG.md
  src/react/data/QueryData.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 🐞 bug

#6577 Merge remaining links from the `apollo-link` repo
  CHANGELOG.md
  config/prepareDist.js
  config/rollup.config.js
  docs/source/api/link/apollo-link-batch-http.mdx
  docs/source/api/link/apollo-link-context.md
  docs/source/api/link/apollo-link-error.md
  docs/source/api/link/apollo-link-rest.md
  docs/source/api/link/apollo-link-retry.md
  docs/source/api/link/apollo-link-schema.md
  docs/source/api/link/apollo-link-ws.md
  docs/source/api/link/introduction.md
  docs/source/data/error-handling.mdx
  docs/source/data/subscriptions.mdx
  docs/source/migrating/apollo-client-3-migration.md
  docs/source/networking/advanced-http-networking.md
  docs/source/networking/authentication.mdx
  docs/source/performance/server-side-rendering.mdx
  package-lock.json
  package.json
  src/core/index.ts
  src/link/batch-http/__tests__/batchHttpLink.ts
  src/link/batch-http/batchHttpLink.ts
  src/link/batch-http/index.ts
  src/link/batch/__tests__/batchLink.ts
  src/link/batch/batchLink.ts
  src/link/batch/batching.ts
  src/link/batch/index.ts
  src/link/context/__tests__/index.ts
  src/link/context/index.ts
  src/link/core/index.ts
  src/link/error/__tests__/index.ts
  src/link/error/index.ts
  src/link/http/index.ts
  src/link/retry/__tests__/delayFunction.ts
  src/link/retry/__tests__/retryFunction.ts
  src/link/retry/__tests__/retryLink.ts
  src/link/retry/delayFunction.ts
  src/link/retry/index.ts
  src/link/retry/retryFunction.ts
  src/link/retry/retryLink.ts
  src/link/schema/__tests__/schemaLink.ts
  src/link/schema/index.ts
  src/link/utils/index.ts
  src/link/ws/__tests__/webSocketLink.ts
  src/link/ws/index.ts
  src/link/ws/webSocketLink.ts
Labels: 👩‍🏭 refactor, 🔗 apollo-link, 🧞‍♂️ enhancement

#6593 Create a `@apollo/client/link/http` CJS bundle
  config/prepareDist.js
  config/rollup.config.js
  src/link/http/index.ts
Labels: 🔗 apollo-link

#6595 Replace existing edges when args.{after,before} not provided.
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/policies.ts
  src/utilities/policies/pagination.ts
Labels: 🐞 bug, 🧪 has-tests

#6429 Remaining AC3 documentation updates
  .vscode/settings.json
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  docs/shared/mutation-options.mdx
  docs/source/api/cache/InMemoryCache.mdx
  docs/source/api/link/apollo-link-rest.md
  docs/source/api/link/apollo-link-schema.md
  docs/source/api/link/introduction.md
  docs/source/api/react/components.mdx
  docs/source/api/react/hoc.mdx
  docs/source/caching/advanced-topics.mdx
  docs/source/caching/cache-configuration.md
  docs/source/caching/cache-field-behavior.md
  docs/source/caching/cache-interaction.md
  docs/source/caching/garbage-collection.mdx
  docs/source/data/error-handling.mdx
  docs/source/data/mutations.mdx
  docs/source/data/pagination.mdx
  docs/source/data/queries.mdx
  docs/source/data/subscriptions.mdx
  docs/source/development-testing/client-schema-mocking.mdx
  docs/source/development-testing/testing.mdx
  docs/source/features/caching.md
  docs/source/get-started.mdx
  docs/source/index.mdx
  docs/source/integrations/meteor.md
  docs/source/integrations/react-native.md
  docs/source/local-state/client-side-schema.mdx
  docs/source/local-state/local-resolvers.mdx
  docs/source/local-state/local-state-management.mdx
  docs/source/local-state/managing-state-with-field-policies.mdx
  docs/source/local-state/reactive-variables.mdx
  docs/source/networking/advanced-http-networking.md
  docs/source/networking/authentication.mdx
  docs/source/networking/basic-http-networking.md
  docs/source/performance/optimistic-ui.mdx
  docs/source/performance/performance.mdx
  docs/source/performance/server-side-rendering.mdx
  docs/source/why-apollo.mdx
  docs/static/_redirects
  src/cache/core/cache.ts
Labels: 📝 documentation

#6589 Make sure onCompleted does not fire when skip is true
  CHANGELOG.md
  src/react/data/QueryData.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 🐞 bug

#6605 Revert "Update package.json peerDependencies (#6594)"
  package.json
Labels: :christmas_tree: dependencies

#6600 Update import entry point for Apollo SSR in documentation
  docs/source/performance/server-side-rendering.mdx
Labels: ⚛️ React-related, 📝 documentation

#6601 Update migrating guide for SSR
  docs/source/migrating/hooks-migration.md
Labels: ⚛️ React-related, 📝 documentation

#6624 Add graphql/execution/execute to external list in rollup.config.js.
  config/rollup.config.js
  docs/source/api/link/apollo-link-schema.md
Labels: 🐞 bug, 📦 bundle size, 🔗 apollo-link, 🛠 tooling

#6625 Fix/update ApolloProvider docs
  docs/shared/apollo-provider.mdx
  docs/source/api/react/hoc.mdx
  docs/source/api/react/hooks.mdx
Labels: 📝 documentation

#6643 Change `optimisticResponse` type to be consistent and less restrictive.
  src/react/types/types.ts
Labels: ⛑ TypeScript

#6588 Ignore option callbacks when deciding to update a query
  CHANGELOG.md
  package-lock.json
  package.json
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 🐞 bug

#6617 react: MutationResult.client is always set
  CHANGELOG.md
  src/react/data/MutationData.ts
  src/react/types/types.ts
Labels: ⚛️ React-related, ⛑ TypeScript

#6261 fix: queryDeduplication from context
  src/__tests__/client.ts
  src/core/QueryManager.ts
  src/core/__tests__/QueryManager/index.ts
Labels: 🐞 bug

#6657 Process ESM .js modules in ./dist with Rollup, again.
  config/rollup.config.js
Labels: 🛠 tooling

#6665 Generate @apollo/client/invariantErrorCodes.js for each release.
  CHANGELOG.md
  config/processInvariants.ts
Labels: :bulb: idea, 📝 documentation, 🛠 tooling, 🧞‍♂️ enhancement

#6576 Support async render function in getDataFromTree / getMarkupFromTree
  CHANGELOG.md
  src/react/ssr/getDataFromTree.ts
Labels: :bulb: idea, ⚛️ React-related, 🧞‍♂️ enhancement

#6691 Keep policies.rootIdsByTypename unique by ID as well as __typename.
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
Labels: 🐞 bug, 🧪 has-tests

#6694 Resolve imported module IDs without Rollup.
  config/helpers.ts
  config/processInvariants.ts
  config/resolveModuleIds.ts
  config/rollup.config.js
  package-lock.json
  package.json
Labels: 📟 regression, 📦 bundle size, 🛠 tooling

#6710 Refactor ObservableQuery#getCurrentResult to reenable immediate delivery of warm cache results.
  CHANGELOG.md
  src/core/ObservableQuery.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/__tests__/fetchPolicies.ts
  src/core/index.ts
  src/core/types.ts
  src/react/components/__tests__/client/Query.test.tsx
  src/react/hoc/__tests__/mutations/recycled-queries.test.tsx
  src/react/hoc/__tests__/queries/observableQuery.test.tsx
  src/react/hoc/__tests__/queries/skip.test.tsx
Labels: :racehorse: performance, 📟 regression, 🧞‍♂️ enhancement

#6714 Ergonomic improvements for field policy merge and keyArgs functions.
  CHANGELOG.md
  docs/source/caching/cache-field-behavior.md
  src/__tests__/ApolloClient.ts
  src/__tests__/fetchMore.ts
  src/__tests__/optimistic.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
  src/core/__tests__/QueryManager/index.ts
Labels: :bulb: idea, 📝 documentation, 🧞‍♂️ enhancement, 🧪 has-tests

#6712 Revert PR #6353 and support options.nextFetchPolicy instead.
  docs/shared/query-options.mdx
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/watchQueryOptions.ts
  src/react/hoc/__tests__/queries/loading.test.tsx
  src/react/hoc/__tests__/queries/skip.test.tsx
  src/react/types/types.ts
Labels: :fried_egg: breaking change, 🌤 has-workaround, 📟 regression

#6715 Avoid clobbering default options with undefined values.
  CHANGELOG.md
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/client.ts
  src/core/ApolloClient.ts
  src/core/Reobserver.ts
  src/react/data/MutationData.ts
  src/utilities/common/__tests__/compact.ts
  src/utilities/common/compact.ts
  src/utilities/index.ts
Labels: 🐞 bug, 🧪 has-tests

#6719 Avoid evaluating `it` unless/until itAsync called.
  src/utilities/testing/itAsync.ts
Labels: 🔬 testing-utilities

#6725 Re-export cache types from @apollo/client/core, again.
  src/core/index.ts
Labels: ⛑ TypeScript, 📟 regression

#6735 Allow SchemaLink.Options.context function to be async.
  src/link/schema/index.ts
Labels: 🔗 apollo-link, 🔠 quick-and-easy, 🧞‍♂️ enhancement
