Repository apollographql/apollo-client, pull requests merged in 2020-04, with the labels that each got.

#6080 Reenable strictNullChecks in tsconfig.json for client codebase.
  src/__tests__/mutationResults.ts
  src/cache/core/cache.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/helpers.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/cache/inmemory/types.ts
  src/cache/inmemory/writeToStore.ts
  src/core/ObservableQuery.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/networkStatus.ts
  src/core/types.ts
  src/link/core/ApolloLink.ts
  src/link/core/__tests__/ApolloLink.ts
  src/link/http/checkFetcher.ts
  src/link/http/createHttpLink.ts
  src/link/http/rewriteURIForGET.ts
  src/link/http/selectHttpOptionsAndBody.ts
  src/link/utils/transformOperation.ts
  src/react/types/types.ts
  src/utilities/common/errorHandling.ts
  src/utilities/graphql/directives.ts
  src/utilities/graphql/fragments.ts
  src/utilities/graphql/getFromAST.ts
  src/utilities/graphql/storeUtils.ts
  src/utilities/graphql/transform.ts
  src/utilities/testing/mocking/mockLink.ts
  tsconfig.json
Labels: ⛑ TypeScript, 📟 regression, 🛠 tooling, 🧞‍♂️ enhancement, 🧩 implementation-detail, 🧪 tests

#6058 Stop delivering "stale" results to ObservableQuery.
  CHANGELOG.md
  src/__tests__/client.ts
  src/__tests__/local-state/general.ts
  src/__tests__/subscribeToMore.ts
  src/cache/core/types/DataProxy.ts
  src/cache/core/types/common.ts
  src/cache/index.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/__tests__/QueryManager/recycler.ts
  src/core/__tests__/fetchPolicies.ts
  src/core/types.ts
  src/errors/ApolloError.ts
  src/react/data/QueryData.ts
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/types/types.ts
  src/utilities/testing/observableToPromise.ts
Labels: :fried_egg: breaking change, 🧞‍♂️ enhancement

#6120 Compare entire result objects in isDifferentFromLastResult.
  src/core/ObservableQuery.ts
Labels: 🐞 bug, 🔠 quick-and-easy

#6123 Add test for bug #6106
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🛬 fixed-in-prerelease, 🧪 tests

#6155 Add development steps to the contributing guide
  CONTRIBUTING.md
Labels: 📝 documentation

#6178 Make dataId parameter of cache.modify optional.
  CHANGELOG.md
  src/__tests__/client.ts
  src/__tests__/local-state/resolvers.ts
  src/cache/core/cache.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: :fried_egg: breaking change, 🧞‍♂️ enhancement
