Repository apollographql/apollo-client, pull requests merged in 2021-03, with the labels that each got.

#7768 Devtools doc updates
  docs/source/assets/devtools/apollo-client-devtools/ac-browser-devtools-3.png
  docs/source/assets/devtools/apollo-client-devtools/apollo-devtools-graphiql.png
  docs/source/assets/devtools/apollo-client-devtools/apollo-devtools-queries.png
  docs/source/assets/devtools/apollo-client-devtools/apollo-devtools-store.png
  docs/source/development-testing/developer-tooling.md
  docs/source/index.mdx
  docs/source/integrations/react-native.md
  docs/source/why-apollo.mdx
Labels: 📝 documentation

#7778 Allow merge:true to merge references with non-normalized objects, and vice-versa.
  CHANGELOG.md
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/types.ts
Labels: 💸 caching, 🧞‍♂️ enhancement, 🧪 has-tests

#7742 Prefer `import * as` for imports whose types are re-exported
  CHANGELOG.md
  src/link/persisted-queries/__tests__/react.tsx
  src/react/components/Mutation.tsx
  src/react/components/Query.tsx
  src/react/components/Subscription.tsx
  src/react/context/ApolloConsumer.tsx
  src/react/context/ApolloContext.ts
  src/react/context/ApolloProvider.tsx
  src/react/hoc/hoc-utils.tsx
  src/react/hoc/mutation-hoc.tsx
  src/react/hoc/query-hoc.tsx
  src/react/hoc/subscription-hoc.tsx
  src/react/hoc/withApollo.tsx
  src/react/hooks/useApolloClient.ts
  src/react/ssr/getDataFromTree.ts
  src/utilities/testing/mocking/MockedProvider.tsx
Labels: ⚛️ React-related, ⛑ TypeScript, 🏓 awaiting-response, 🧗‍♀️ rebase

#7818 Improvements to asyncMap Observable utility function.
  CHANGELOG.md
  src/utilities/observables/__tests__/asyncMap.ts
  src/utilities/observables/asyncMap.ts
Labels: 🐞 bug, 🧩 implementation-detail

#7819 Introduce new cache.batch(options) method for InMemoryCache.
  CHANGELOG.md
  package.json
  src/cache/core/cache.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
  src/core/QueryManager.ts
Labels: :bulb: idea, 💸 caching, 🧞‍♂️ enhancement, 🧪 has-tests

#7833 Remove `children` type override
  CHANGELOG.md
  src/utilities/testing/mocking/MockedProvider.tsx
Labels: ⚛️ React-related, ⛑ TypeScript

#7860 Add missing `context` option to `useSubscription`
  CHANGELOG.md
  docs/shared/subscription-options.mdx
  src/react/data/SubscriptionData.ts
  src/react/hooks/__tests__/useSubscription.test.tsx
  src/react/types/types.ts
Labels: ⚛️ React-related

#7863 Update tslib to version 2.1.0.
  package-lock.json
  package.json
Labels: :christmas_tree: dependencies, ⛑ TypeScript, 🔠 quick-and-easy, 🧩 implementation-detail

#7887 Simplify EntityStore CacheGroup logic to improve InMemoryCache result caching.
  src/__tests__/client.ts
  src/cache/core/types/Cache.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: :bulb: idea, 💸 caching, 🧞‍♂️ enhancement, 🧩 implementation-detail

#7888 Remove global Observable<T>["@@observable"] method declaration.
  src/utilities/observables/Observable.ts
Labels: dependencies, ⛑ TypeScript, 🐞 bug

#7810 Solve issue #7491 by supporting watchQueryOptions.refetchWritePolicy.
  CHANGELOG.md
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/core/types/DataProxy.ts
  src/cache/inmemory/__tests__/helpers.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/writeToStore.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/watchQueryOptions.ts
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/types/types.ts
Labels: 💬 discussion, 💸 caching, 📟 regression, 🧞‍♂️ enhancement, 🧪 has-tests

#7900 Allow keyFields and keyArgs functions to return false
  CHANGELOG.md
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/writeToStore.ts
Labels: ⛑ TypeScript, 💸 caching

#7827 Support options.reobserveQuery callback for mutations.
  CHANGELOG.md
  package.json
  src/cache/core/types/Cache.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/types.ts
  src/core/watchQueryOptions.ts
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/types/types.ts
Labels: :bulb: idea, 👩‍🔬 needs-more-tests, 🧞‍♂️ enhancement, 🧪 has-tests

#7904 Broadcast watches before transaction when onDirty provided.
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: 💸 caching, 🧞‍♂️ enhancement, 🧪 has-tests
