Repository apollographql/apollo-client, pull requests merged in 2021-05, with the labels that each got.

#8135 Recheck `rv()` against previous `value` in `useEffect` callback in `useReactiveVar`
  CHANGELOG.md
  src/react/hooks/useReactiveVar.ts
Labels: ⚛️ React-related

#8134 Update docs for to add `id` to `cache.modify` add item example
  docs/source/caching/cache-interaction.md
Labels: 📝 documentation

#8107 add resultCacheMaxSize
  CHANGELOG.md
  src/cache/inmemory/__mocks__/optimism.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/readFromStore.ts
Labels: :bulb: idea, :racehorse: performance, 🐘 memory, 💸 caching, 🧞‍♂️ enhancement, 🧪 has-tests

#7997 Check structural equality in QueryInfo#setDiff, again.
  src/core/QueryInfo.ts
  src/core/__tests__/ObservableQuery.ts
  src/utilities/testing/subscribeAndCount.ts
Labels: 💸 caching, 🧩 implementation-detail

#8213 Mark all generated package.json files as "sideEffects": false.
  CHANGELOG.md
  config/prepareDist.js
  package.json
Labels: 📟 regression, 📦 bundle size, 🔠 quick-and-easy, 🛠 tooling, 🧞‍♂️ enhancement

#8221 Re-export graphql-tag exports directly, without destructuring.
  src/core/index.ts
Labels: :christmas_tree: dependencies, 📦 bundle size, 🔠 quick-and-easy, 🧞‍♂️ enhancement

#8222 Remove dependency on `fast-json-stable-stringify`
  package-lock.json
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/cache/index.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/object-canon.ts
  src/cache/inmemory/policies.ts
  src/utilities/graphql/storeUtils.ts
Labels: :christmas_tree: dependencies, 📦 bundle size, 🛠 tooling, 🛫 in-progress, 🧞‍♂️ enhancement, 🧩 implementation-detail, 🧪 has-tests

#8238 Replace Spectrum references with community.apollographql.com
  .github/ISSUE_TEMPLATE/question-discussion.md
  COLLABORATORS.md
  CONTRIBUTING.md
  README.md
  docs/source/api/link/apollo-link-rest.md
  docs/source/why-apollo.mdx
Labels: 📝 documentation

#8000 Improve standalone client.refetchQueries method to support automatic detection of queries needing to be refetched.
  CHANGELOG.md
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/client.ts
  src/__tests__/refetchQueries.ts
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
  src/core/ApolloClient.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/types.ts
  src/core/watchQueryOptions.ts
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/types/types.ts
  src/utilities/common/makeUniqueId.ts
  src/utilities/graphql/storeUtils.ts
  src/utilities/index.ts
  src/utilities/types/IsStrictlyAny.ts
Labels: :bulb: idea, ⚗️ needs-documentation, 💬 discussion, 💸 caching, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests

#8280 Various improvements to ROOT_MUTATION caching
  CHANGELOG.md
  src/__tests__/__snapshots__/mutationResults.ts.snap
  src/__tests__/mutationResults.ts
  src/core/QueryManager.ts
  src/core/watchQueryOptions.ts
  src/react/components/Mutation.tsx
  src/react/components/Query.tsx
  src/react/components/Subscription.tsx
  src/react/hoc/__tests__/mutations/queries.test.tsx
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/types/types.ts
Labels: 🐞 bug, 💸 caching, 🧞‍♂️ enhancement, 🧪 has-tests
