Repository apollographql/apollo-client, pull requests merged in 2021-06, with the labels that each got.

#8239 Document validate flag for the SchemaLink constructor
  docs/source/api/link/apollo-link-schema.md
Labels: 📝 documentation

#8341 Update rollup to version 2.50.5
  config/rollup.config.js
  package-lock.json
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/helpers.ts
  src/cache/inmemory/object-canon.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/core/QueryManager.ts
  src/core/index.ts
  src/utilities/common/maybeDeepFreeze.ts
  src/utilities/common/mergeDeep.ts
  src/utilities/common/objects.ts
  src/utilities/graphql/storeUtils.ts
  src/utilities/index.ts
Labels: :christmas_tree: dependencies, 📦 bundle size, 🛠 tooling, 🧩 implementation-detail

#7813 add public method to retrieve all current observable queries
  src/__tests__/client.ts
  src/__tests__/refetchQueries.ts
  src/core/ApolloClient.ts
  src/core/QueryManager.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/types.ts
  src/core/watchQueryOptions.ts
  src/react/types/types.ts
Labels: 🍪 feature-request, 👩‍🏭 refactor, 🧞‍♂️ enhancement, 🧪 has-tests

#8340 Add expected/received variables to 'No more mocked responses' error message
  CHANGELOG.md
  src/utilities/testing/mocking/__tests__/MockedProvider.test.tsx
  src/utilities/testing/mocking/__tests__/__snapshots__/MockedProvider.test.tsx.snap
  src/utilities/testing/mocking/mockLink.ts
Labels: :bulb: idea, 🔬 testing-utilities, 🧞‍♂️ enhancement

#8361 Deep merge toBeAdded type policies
  CHANGELOG.md
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
Labels: 🐞 bug, 💸 caching, 📟 regression, 🧪 has-tests

#8372 Merge incoming fragment fields before running `merge` functions and updating the `EntityStore`
  CHANGELOG.md
  package.json
  src/cache/inmemory/__tests__/__snapshots__/writeToStore.ts.snap
  src/cache/inmemory/__tests__/writeToStore.ts
  src/cache/inmemory/writeToStore.ts
Labels: 🌤 has-workaround, 🐞 bug, 👩‍🏭 refactor, 💸 caching, 🧪 has-tests

#8347 Use `__DEV__` internally instead of `process.env.NODE_ENV`.
  CHANGELOG.md
  config/processInvariants.ts
  config/rollup.config.js
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/cache/index.ts
  src/cache/inmemory/__tests__/roundtrip.ts
  src/cache/inmemory/object-canon.ts
  src/cache/inmemory/readFromStore.ts
  src/cache/inmemory/writeToStore.ts
  src/core/ApolloClient.ts
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/index.ts
  src/react/index.ts
  src/utilities/common/__tests__/environment.ts
  src/utilities/common/environment.ts
  src/utilities/common/global.ts
  src/utilities/common/maybe.ts
  src/utilities/common/maybeDeepFreeze.ts
  src/utilities/globals/__DEV__.ts
  src/utilities/globals/graphql.ts
  src/utilities/globals/index.ts
  src/utilities/globals/process.ts
  src/utilities/index.ts
Labels: :bulb: idea, :christmas_tree: dependencies, :racehorse: performance, 💪 medium-effort, 📦 bundle size, 🙃 upstream, 🧩 implementation-detail

#8394 Update typescript to v4.3.3
  CHANGELOG.md
  config/helpers.ts
  package-lock.json
  package.json
  src/__tests__/client.ts
  src/__tests__/graphqlSubscriptions.ts
  src/__tests__/local-state/resolvers.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/core/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/link/http/__tests__/HttpLink.ts
  src/link/http/__tests__/checkFetcher.ts
  src/link/http/__tests__/helpers.ts
  src/link/retry/__tests__/retryLink.ts
  src/react/components/Query.tsx
  src/react/hoc/__tests__/queries/errors.test.tsx
Labels: :christmas_tree: dependencies, ⛑ TypeScript, 🤏 small-effort, 🧩 implementation-detail

#8393 Protect `__DEV__` from mis-minification / aggressive tree-shaking
  config/entryPoints.js
  config/prepareDist.js
  src/__tests__/__snapshots__/exports.ts.snap
  src/cache/index.ts
  src/core/index.ts
  src/errors/index.ts
  src/link/core/index.ts
  src/react/index.ts
  src/testing/index.ts
  src/utilities/globals/DEV.ts
  src/utilities/globals/index.ts
  src/utilities/index.ts
Labels: 🐞 bug, 📦 bundle size, 🚨 high-priority, 🛠 tooling, 🤏 small-effort

#8416 Log non-fatal error when fields are missing from written results
  CHANGELOG.md
  src/__tests__/ApolloClient.ts
  src/__tests__/__snapshots__/ApolloClient.ts.snap
  src/__tests__/__snapshots__/client.ts.snap
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/__snapshots__/mutationResults.ts.snap
  src/__tests__/client.ts
  src/__tests__/local-state/__snapshots__/export.ts.snap
  src/__tests__/local-state/__snapshots__/general.ts.snap
  src/__tests__/local-state/export.ts
  src/__tests__/local-state/general.ts
  src/__tests__/mutationResults.ts
  src/cache/inmemory/__tests__/__snapshots__/policies.ts.snap
  src/cache/inmemory/__tests__/__snapshots__/readFromStore.ts.snap
  src/cache/inmemory/__tests__/__snapshots__/roundtrip.ts.snap
  src/cache/inmemory/__tests__/__snapshots__/writeToStore.ts.snap
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/__tests__/roundtrip.ts
  src/cache/inmemory/__tests__/writeToStore.ts
  src/cache/inmemory/writeToStore.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/__tests__/fetchPolicies.ts
  src/react/components/__tests__/client/Query.test.tsx
  src/react/components/__tests__/client/__snapshots__/Query.test.tsx.snap
  src/react/hooks/__tests__/__snapshots__/useQuery.test.tsx.snap
  src/react/hooks/__tests__/__snapshots__/useSubscription.test.tsx.snap
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/__tests__/useSubscription.test.tsx
  src/utilities/testing/index.ts
  src/utilities/testing/itAsync.ts
  src/utilities/testing/withErrorSpy.ts
Labels: 💸 caching, 🔬 testing-utilities, 🛠 tooling, 🧪 has-tests

#8420 Added a missing bracket
  docs/source/networking/advanced-http-networking.md
Labels: 📝 documentation, 🔬 typo

#8423 Fix backwards-incompatible changes to types
  src/react/types/types.ts
Labels: ⛑ TypeScript, 📟 regression, 🤏 small-effort

#8425 Squash remaining "not wrapped in act(...)" error messages in React-related tests
  src/react/components/__tests__/client/Mutation.test.tsx
  src/react/hoc/__tests__/mutations/queries.test.tsx
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 🔬 testing-utilities, 🛠 tooling, 🧩 implementation-detail

#8422 Make `ObservableQuery#getCurrentResult` always call `queryInfo.getDiff()`
  CHANGELOG.md
  src/core/ObservableQuery.ts
  src/core/__tests__/ObservableQuery.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🐞 bug, 👩‍🏭 refactor, 💸 caching, 🛫 in-progress, 🧪 has-tests

#8438 Prefer `existing.pageInfo` cursors in `relayStylePagination` field policy `read` functions
  CHANGELOG.md
  src/cache/inmemory/__tests__/policies.ts
  src/utilities/policies/__tests__/relayStylePagination.test.ts
  src/utilities/policies/pagination.ts
Labels: 🐞 bug, 💸 caching, 🤏 small-effort, 🧪 has-tests
