Repository apollographql/apollo-client, pull requests merged in 2021-04, with the labels that each got.

#7926 Handle already-dirty watches more gracefully in cache.batch.
  package.json
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: 💸 caching, 🧞‍♂️ enhancement, 🧪 has-tests

#7943 Prevent `RenderPromises` memory leak by calling `renderPromises.clear()` after `getMarkupFromTree` finishes.
  CHANGELOG.md
  scripts/memory/tests.js
  src/react/ssr/RenderPromises.ts
  src/react/ssr/getDataFromTree.ts
Labels: ⚛️ React-related, 🐘 memory, 🐞 bug, 🛫 in-progress, 🧪 has-tests

#7803 Fix typo in `useLazyQuery` API - React section
  docs/source/api/react/hooks.mdx
Labels: 📝 documentation, 🔬 typo

#7821 docs: Fix 'get started' docs
  docs/source/get-started.mdx
Labels: ⚛️ React-related, 📝 documentation

#7956 only increment lastRequestId when using links to get results
  CHANGELOG.md
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
Labels: :rose: has-reproduction, 🐞 bug, 🧪 has-tests

#7966 Change default refetchWritePolicy to "overwrite" rather than "merge".
  CHANGELOG.md
  src/core/QueryManager.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: :fried_egg: breaking change, 🌤 has-workaround, 🐞 bug, 💸 caching, 🧪 has-tests

#7902 Provide variables and context to update function
  CHANGELOG.md
  src/core/ApolloClient.ts
  src/core/QueryManager.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/index.ts
  src/core/types.ts
  src/core/watchQueryOptions.ts
  src/react/components/types.ts
  src/react/data/MutationData.ts
  src/react/hoc/__tests__/mutations/queries.test.tsx
  src/react/hoc/__tests__/mutations/recycled-queries.test.tsx
  src/react/hoc/mutation-hoc.tsx
  src/react/hoc/types.ts
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/hooks/useMutation.ts
  src/react/types/types.ts
Labels: ⛑ TypeScript, 🧞‍♂️ enhancement, 🧪 has-tests

#7977 Backport PR #7956 from release-3.4 to main branch.
  CHANGELOG.md
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
Labels: 🔠 quick-and-easy, 🚠 backport, 🛬 fixed-in-prerelease, 🧪 has-tests

#7981 Fix typo for angular integration's website link
  docs/source/integrations/integrations.md
Labels: 📝 documentation, 🔬 typo

#7983 Add/fix failing test of reading cache data immediately during server-side rendering.
  CHANGELOG.md
  src/react/data/QueryData.ts
  src/react/ssr/__tests__/__snapshots__/useQuery.test.tsx.snap
  src/react/ssr/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 💸 caching, 📟 regression, 🧪 has-tests

#8024 support "debounce" for the batch link
  CHANGELOG.md
  src/link/batch-http/batchHttpLink.ts
  src/link/batch/__tests__/batchLink.ts
  src/link/batch/batchLink.ts
  src/link/batch/batching.ts
Labels: :bulb: idea, ⚗️ needs-documentation, 🔗 apollo-link, 🧞‍♂️ enhancement, 🧪 has-tests
