Repository apollographql/apollo-client, pull requests merged in 2021-08, with the labels that each got.

#8570 Update docs for `RetryLink`'s `attempts` function (fixes #8219)
  docs/source/api/link/apollo-link-retry.md
Labels: 📝 documentation, 🔗 apollo-link

#8573 Use more default type parameters for mutation-related types in `react/types/types.ts`
  CHANGELOG.md
  src/react/types/types.ts
Labels: 2021-08, size/small, ⏮ compatibility, ⛑ TypeScript

#8527 Fix typo in useLazyQuery API - Function Signature
  docs/source/api/react/hooks.mdx
Labels: ⚛️ React-related, ⛑ TypeScript, 📝 documentation

#8543 Use `@testing-library/react-hooks` in our unit tests.
  package-lock.json
  package.json
  src/react/hooks/__tests__/__snapshots__/useQuery.test.tsx.snap
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: ⚛️ React-related, 🔬 testing-utilities, 🧩 implementation-detail

#8578 Remove `"engines"` section from `dist/package.json` before publishing
  CHANGELOG.md
  config/prepareDist.js
Labels: 2021-08, size/small, 🐞 bug, 📟 regression, 🔠 quick-and-easy, 🛠 tooling, 🧩 implementation-detail

#8588 Fix double registration bug for mutation `refetchQueries` specified using legacy one-time `refetchQueries: [{ query, variables }]` style
  CHANGELOG.md
  src/core/ObservableQuery.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
Labels: 2021-08, 🌤 has-workaround, 📟 regression

#8598 Roadmap update
  ROADMAP.md
Labels: 📝 documentation, 2021-08

#8603 Reevaluate `window.fetch` each time `HttpLink` uses it, if not configured using `options.fetch`
  CHANGELOG.md
  src/__tests__/__snapshots__/exports.ts.snap
  src/link/http/__tests__/HttpLink.ts
  src/link/http/createHttpLink.ts
  src/utilities/index.ts
Labels: :bulb: idea, 🛠 tooling, 🛫 in-progress, 🧪 has-tests, 🔗 apollo-link, size/small, 2021-08

#8605 Restore `@apollo/client/apollo-client.cjs.js` CommonJS bundle for older bundlers
  CHANGELOG.md
  config/rollup.config.js
  package.json
  scripts/memory/tests.js
Labels: 🛠 tooling, 📟 regression, 🧪 has-tests, size/small, 2021-08, ⏮ compatibility

#8604 Log `MissingFieldError`s in `ObservableQuery#getCurrentResult` rather than using `result.error`
  CHANGELOG.md
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🛠 tooling, 🧞‍♂️ enhancement, 📟 regression, 🧪 has-tests, size/small, 2021-08, ⏮ compatibility

#8602 Clarify mutation `fetchPolicy` options using `MutationFetchPolicy` union type
  CHANGELOG.md
  src/core/QueryManager.ts
  src/core/watchQueryOptions.ts
Labels: ⛑ TypeScript, 🧞‍♂️ enhancement, ⚗️ needs-documentation, size/small, 2021-08

#8618 Fix accidental reuse of recycled `MergeTree` objects in `StoreWriter` class used by `InMemoryCache`
  CHANGELOG.md
  src/cache/inmemory/__tests__/writeToStore.ts
  src/cache/inmemory/writeToStore.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🐞 bug, 🚨 high-priority, 🛫 in-progress, 🧩 implementation-detail, 📟 regression, 🧪 has-tests, 💸 caching, size/small, 2021-08

#8631 Batched `path-parse` security updates for examples/bundling applications
  .github/dependabot.yml
  examples/bundling/no-tree-shaking/rollup-ac2/package-lock.json
  examples/bundling/no-tree-shaking/rollup-ac3/package-lock.json
  examples/bundling/tree-shaking/rollup-ac2/package-lock.json
  examples/bundling/tree-shaking/rollup-ac3-no-react/package-lock.json
  examples/bundling/tree-shaking/rollup-ac3/package-lock.json
  package-lock.json
Labels: :christmas_tree: dependencies, 🛠 tooling, 🧩 implementation-detail, size/small, 2021-08, 🔐 security

#8633 Copyedits to various AC docs
  docs/source/caching/advanced-topics.mdx
  docs/source/local-state/client-side-schema.mdx
  docs/source/performance/performance.mdx
Labels: 📝 documentation

#8643 Fix error thrown by nested `keyFields: ["a", ["b", "c"], "d"]` syntax when some of the fields are aliased
  CHANGELOG.md
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
Labels: 🐞 bug, 🛫 in-progress, 🧪 has-tests, 💸 caching, size/small, 2021-08

#8642 Avoid voiding `result.data` in `ObservableQuery#getCurrentResult` when `!diff.complete`
  CHANGELOG.md
  package.json
  src/__tests__/client.ts
  src/core/ObservableQuery.ts
  src/core/__tests__/ObservableQuery.ts
  src/react/data/QueryData.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🐞 bug, 🛫 in-progress, 📟 regression, ⚛️ React-related, size/medium, 2021-08

#8657 Docs examples location has moved
  docs/source/performance/optimistic-ui.mdx
Labels: 📝 documentation

#8596 React refactorings
  CHANGELOG.md
  config/entryPoints.js
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/exports.ts
  src/core/ObservableQuery.ts
  src/react/components/Query.tsx
  src/react/components/__tests__/client/Mutation.test.tsx
  src/react/components/__tests__/client/Query.test.tsx
  src/react/components/__tests__/client/Subscription.test.tsx
  src/react/components/__tests__/client/__snapshots__/Query.test.tsx.snap
  src/react/context/ApolloContext.ts
  src/react/context/index.ts
  src/react/data/MutationData.ts
  src/react/data/OperationData.ts
  src/react/data/QueryData.ts
  src/react/data/SubscriptionData.ts
  src/react/data/index.ts
  src/react/hoc/__tests__/mutations/lifecycle.test.tsx
  src/react/hoc/__tests__/queries/errors.test.tsx
  src/react/hoc/__tests__/queries/index.test.tsx
  src/react/hoc/__tests__/queries/lifecycle.test.tsx
  src/react/hoc/__tests__/queries/loading.test.tsx
  src/react/hoc/__tests__/queries/skip.test.tsx
  src/react/hooks/__tests__/__snapshots__/useSubscription.test.tsx.snap
  src/react/hooks/__tests__/useLazyQuery.test.tsx
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/__tests__/useSubscription.test.tsx
  src/react/hooks/useApolloClient.ts
  src/react/hooks/useLazyQuery.ts
  src/react/hooks/useMutation.ts
  src/react/hooks/useQuery.ts
  src/react/hooks/useSubscription.ts
  src/react/hooks/utils/useAfterFastRefresh.ts
  src/react/hooks/utils/useBaseQuery.ts
  src/react/hooks/utils/useDeepMemo.ts
  src/react/parser/index.ts
  src/react/ssr/RenderPromises.ts
  src/react/types/types.ts
Labels: 2021-08

#8676 Use `setTimeout` instead of `Promise.resolve().then(...)` to delay `Concast` cancellation
  CHANGELOG.md
  src/core/QueryManager.ts
  src/utilities/observables/Concast.ts
Labels: 🐞 bug, size/small, 2021-08

#8689 Enforce that `__DEV__` is polyfilled in every entry point that uses it
  CHANGELOG.md
  config/checkDEV.ts
  config/entryPoints.js
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/cache/index.ts
  src/core/index.ts
  src/errors/index.ts
  src/link/core/index.ts
  src/link/http/index.ts
  src/link/persisted-queries/index.ts
  src/link/utils/index.ts
  src/react/context/index.ts
  src/react/data/index.ts
  src/react/hoc/index.ts
  src/react/hooks/index.ts
  src/react/index.ts
  src/react/parser/index.ts
  src/testing/index.ts
  src/utilities/globals/index.ts
  src/utilities/index.ts
Labels: 🐞 bug, 🛠 tooling, 🧞‍♂️ enhancement, 🧪 has-tests, size/small, 2021-08

#8695 Update `zen-observable-ts` to eliminate transitive dependency on `@types/zen-observable`
  CHANGELOG.md
  package-lock.json
  package.json
  src/core/__tests__/QueryManager/links.ts
  src/core/__tests__/QueryManager/recycler.ts
  src/link/context/index.ts
  src/link/core/ApolloLink.ts
  src/link/http/__tests__/HttpLink.ts
  src/link/persisted-queries/index.ts
  src/link/retry/retryLink.ts
  src/react/types/types.ts
Labels: ⛑ TypeScript, :christmas_tree: dependencies, 🧞‍♂️ enhancement, 🧩 implementation-detail, size/medium, 2021-08

#8382 Add `updateQuery` and `updateFragment` methods to `ApolloCache`
  CHANGELOG.md
  package.json
  src/cache/core/__tests__/cache.ts
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/core/types/DataProxy.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧪 has-tests, 💸 caching, 🍪 feature-request, 2021-08

#8699 Remove query whitespace, take 2: Function Time
  CHANGELOG.md
  docs/source/api/link/apollo-link-http.md
  docs/source/networking/advanced-http-networking.md
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/link/batch-http/__tests__/batchHttpLink.ts
  src/link/batch-http/batchHttpLink.ts
  src/link/http/__tests__/HttpLink.ts
  src/link/http/__tests__/selectHttpOptionsAndBody.ts
  src/link/http/createHttpLink.ts
  src/link/http/index.ts
  src/link/http/selectHttpOptionsAndBody.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🔗 apollo-link
