Repository apollographql/apollo-client, pull requests merged in 2021-09, with the labels that each got.

#8757 Update mutations.mdx
  docs/source/data/mutations.mdx
Labels: 📝 documentation

#8761 Export PersistedQueryLink namespace
  src/__tests__/__snapshots__/exports.ts.snap
  src/link/persisted-queries/index.ts
Labels: 🔠 quick-and-easy, 🔗 apollo-link

#8767 Guide tree-shaking by calling `checkDEV()` in `utilities/globals/index.ts`
  CHANGELOG.md
  src/utilities/globals/index.ts
Labels: 🛠 tooling, 🛫 in-progress, 🙃 upstream, 🧩 implementation-detail, 📟 regression, size/medium, 2021-09

#8769 Make `@apollo/client/testing` a fully-fledged, independent entry point
  CHANGELOG.md
  config/entryPoints.js
  src/__tests__/local-state/resolvers.ts
  src/__tests__/refetchQueries.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/writeToStore.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/__tests__/QueryManager/links.ts
  src/core/__tests__/QueryManager/multiple-results.ts
  src/core/__tests__/QueryManager/recycler.ts
  src/react/hoc/__tests__/mutations/lifecycle.test.tsx
  src/testing/index.ts
  src/testing/itAsync.ts
  src/testing/mocking/MockedProvider.tsx
  src/testing/mocking/__tests__/MockedProvider.test.tsx
  src/testing/mocking/__tests__/__snapshots__/MockedProvider.test.tsx.snap
  src/testing/mocking/__tests__/mockSubscriptionLink.test.tsx
  src/testing/mocking/mockClient.ts
  src/testing/mocking/mockFetch.ts
  src/testing/mocking/mockLink.ts
  src/testing/mocking/mockQueryManager.ts
  src/testing/mocking/mockSubscriptionLink.ts
  src/testing/mocking/mockWatchQuery.ts
  src/testing/observableToPromise.ts
  src/testing/subscribeAndCount.ts
  src/testing/withConsoleSpy.ts
  src/testing/wrap.ts
  src/utilities/observables/__tests__/asyncMap.ts
  src/utilities/testing/index.ts
Labels: 🛠 tooling, 👩‍🏭 refactor, 🧞‍♂️ enhancement, 🧩 implementation-detail, 🔬 testing-utilities, size/small, 2021-09, 🥚 backwards-compatible

#8687 Added @apollo/client/testing/core entry point
  CHANGELOG.md
  config/entryPoints.js
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/exports.ts
  src/__tests__/local-state/resolvers.ts
  src/__tests__/refetchQueries.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/writeToStore.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/__tests__/QueryManager/links.ts
  src/core/__tests__/QueryManager/multiple-results.ts
  src/core/__tests__/QueryManager/recycler.ts
  src/react/hoc/__tests__/mutations/lifecycle.test.tsx
  src/testing/core/index.ts
  src/testing/core/itAsync.ts
  src/testing/core/mocking/mockClient.ts
  src/testing/core/mocking/mockFetch.ts
  src/testing/core/mocking/mockLink.ts
  src/testing/core/mocking/mockQueryManager.ts
  src/testing/core/mocking/mockSubscriptionLink.ts
  src/testing/core/mocking/mockWatchQuery.ts
  src/testing/core/observableToPromise.ts
  src/testing/core/subscribeAndCount.ts
  src/testing/core/withConsoleSpy.ts
  src/testing/core/wrap.ts
  src/testing/index.ts
  src/testing/react/MockedProvider.tsx
  src/testing/react/__tests__/MockedProvider.test.tsx
  src/testing/react/__tests__/__snapshots__/MockedProvider.test.tsx.snap
  src/testing/react/__tests__/mockSubscriptionLink.test.tsx
Labels: :bulb: idea, 🛠 tooling, 👩‍🏭 refactor, 🧞‍♂️ enhancement, 🔬 testing-utilities, 2021-09

#8733 Improve handling of falsy `existing` and/or `incoming` parameters in `relayStylePagination`
  CHANGELOG.md
  src/utilities/policies/__tests__/relayStylePagination.test.ts
  src/utilities/policies/pagination.ts
Labels: 🧞‍♂️ enhancement, 🧪 has-tests, size/small, 2021-09

#8800 Pin CircleCI container to `cimg/node:16.8` until 16.9.1 available
  .circleci/config.yml
Labels: 🛠 tooling, 🙃 upstream, 🧩 implementation-detail, size/small, 2021-09

#8798 Associate Apollo context with `React.createContext` (instead of using a local `WeakMap`) again
  CHANGELOG.md
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/react/context/ApolloContext.ts
  src/utilities/common/canUse.ts
  src/utilities/observables/subclassing.ts
Labels: 🐞 bug, ⚛️ React-related, size/small, 2021-09

#8734 Report single `MissingTree` instead of large `MissingFieldError[]` array for incomplete cache reads
  CHANGELOG.md
  package.json
  src/cache/core/types/common.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/readFromStore.ts
  src/core/ObservableQuery.ts
Labels: :racehorse: performance, 👩‍🏭 refactor, 🛫 in-progress, 🧞‍♂️ enhancement, :fried_egg: breaking change, 🧪 has-tests, 💸 caching, 🐘 memory, size/medium, 2021-09, ⚠️ warnings

#8696 Use `cache.batch` within `cache.updateQuery` and `cache.updateFragment`
  CHANGELOG.md
  src/cache/core/__tests__/cache.ts
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/inMemoryCache.ts
  src/core/QueryInfo.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧩 implementation-detail, 🧪 has-tests, 💸 caching, size/small, 2021-09, 🥚 backwards-compatible

#7506 Bug fix in subscription-hoc
  CHANGELOG.md
  src/react/hoc/subscription-hoc.tsx
Labels: 🐞 bug, 🔬 typo, ⚛️ React-related

#8776 fix general typos and componentDidUpdate in subscription-hoc
  src/__tests__/local-state/export.ts
  src/cache/core/cache.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/readFromStore.ts
  src/core/ApolloClient.ts
  src/core/ObservableQuery.ts
  src/core/watchQueryOptions.ts
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/parser/index.ts
  src/utilities/graphql/__tests__/getFromAST.ts
  src/utilities/testing/mocking/mockFetch.ts
Labels: 📝 documentation

#8818 Unpin `circleci/node` container version and update to Node.js v16.9.1
  .circleci/config.yml
Labels: 🛠 tooling, 🙃 upstream, 🧩 implementation-detail, size/small, 2021-09

#8817 Fix `canUseSymbol` import between internal `src/utilities` modules
  CHANGELOG.md
  src/utilities/observables/subclassing.ts
Labels: 🐞 bug, 🚨 high-priority, 🛠 tooling, 🔬 typo, 🧩 implementation-detail, 📟 regression, size/small, 2021-09

#8813 Ignore TypedArrays when freezing object
  CHANGELOG.md
  src/utilities/common/__tests__/maybeDeepFeeze.ts
  src/utilities/common/maybeDeepFreeze.ts
Labels: :bulb: idea, 🧞‍♂️ enhancement, 🧩 implementation-detail, 🧪 has-tests

#8826 Clear `InMemoryCache` watches when `cache.reset()` called
  CHANGELOG.md
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: 🧪 has-tests, 💸 caching, 🐘 memory, size/small, 2021-09

#8825 Stop excluding observerless queries from `refetchQueries` selection
  CHANGELOG.md
  src/__tests__/refetchQueries.ts
  src/core/QueryManager.ts
Labels: 🐞 bug, 🧪 has-tests, size/small, 2021-09

#8822 Disable `InMemoryCache` canonization by default to prevent unexpected memory growth/sharing, with options to reenable
  CHANGELOG.md
  scripts/memory/tests.js
  src/cache/core/types/DataProxy.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/entityStore.ts
  src/cache/inmemory/__tests__/optimistic.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/__tests__/readFromStore.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/readFromStore.ts
  src/core/QueryInfo.ts
  src/core/__tests__/QueryManager/index.ts
  src/core/watchQueryOptions.ts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: :racehorse: performance, 💬 discussion, 🌤 has-workaround, 🧪 has-tests, 💸 caching, 🐘 memory, size/medium, 2021-09

#8829 Prevent optimistic cache evictions from evicting non-optimistic data.
  CHANGELOG.md
  src/cache/inmemory/__tests__/optimistic.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: 🐞 bug, 🧞‍♂️ enhancement, 🧪 has-tests, 💸 caching, size/medium, 2021-09

#8832 Ensure `cache.broadcastWatch` passes all relevant `WatchOptions` to `cache.diff`
  CHANGELOG.md
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: 🐞 bug, ⛑ TypeScript, 🧪 has-tests, 💸 caching, size/small, 2021-09

#8850 Refactor to avoid import cycle between `inMemoryCache.ts` and `readFromStore.ts`
  src/cache/index.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/diffAgainstStore.ts
  src/cache/inmemory/helpers.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/policies.ts
  src/cache/inmemory/readFromStore.ts
  src/cache/inmemory/types.ts
  src/core/__tests__/QueryManager/index.ts
Labels: ⛑ TypeScript, 👩‍🏭 refactor, 🧩 implementation-detail, 💸 caching, size/small, 2021-09

#8852 Require `cache.reset({ discardWatches: true })` to clear `cache.watches`
  CHANGELOG.md
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/inMemoryCache.ts
Labels: 📟 regression, 🧪 has-tests, 💸 caching, size/small, ⏮ compatibility, 2021-09

#8424 Align NetworkError and GraphQLErrors types
  src/errors/index.ts
  src/link/error/index.ts
Labels: ⛑ TypeScript, 2021-09

#8862 Attempt to fix webpack module resolution by renaming `graphql.ts` module
  CHANGELOG.md
  src/utilities/globals/fix-graphql.ts
  src/utilities/globals/index.ts
Labels: 🛠 tooling, :rose: has-reproduction, 🌤 has-workaround, 🙃 upstream, size/small, 2021-09

#8866 Who is Apollo README updates
  README.md
Labels: 📝 documentation
