Repository apollographql/apollo-client, pull requests merged in 2022-02, with the labels that each got.

#9248 Batch link can cancel operations that are in queue or in flight
  src/link/batch-http/__tests__/batchHttpLink.ts
  src/link/batch/__tests__/batchLink.ts
  src/link/batch/batching.ts
Labels: 👩‍🏭 refactor, 🧞‍♂️ enhancement, 🧪 has-tests, 🔗 apollo-link, ⏮ compatibility

#9386 Avoid `__DEV__` declaration conflict with React Native (when `"skipLibCheck": false` in `tsconfig.json`)
  config/distSpotFixes.ts
  config/postprocessDist.ts
  package.json
  src/utilities/globals/global.ts
Labels: ⛑ TypeScript, 🛠 tooling, 🧞‍♂️ enhancement, 🌤 has-workaround, 🧩 implementation-detail, 👩‍🔬 needs-more-tests, ⚛️ React-related, ⏮ compatibility, 🥚 backwards-compatible

#9453 Backport PR #9369 to `main` branch for `GraphQLWsLink` and `@apollo/client/link/subscriptions`
  CHANGELOG.md
  config/entryPoints.js
  docs/gatsby-config.js
  docs/source/api/link/apollo-link-subscriptions.md
  docs/source/api/link/apollo-link-ws.md
  docs/source/api/react/hoc.mdx
  docs/source/data/subscriptions.mdx
  package-lock.json
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/exports.ts
  src/link/subscriptions/__tests__/graphqlWsLink.ts
  src/link/subscriptions/index.ts
  src/link/ws/__tests__/webSocketLink.ts
Labels: 🔗 apollo-link, 🚠 backport, 🥚 backwards-compatible
