Repository apollographql/apollo-client, pull requests merged in 2022-04, with the labels that each got.

#9563 Replace experimental `useQuery` options functions with simpler `options.defaultOptions` option
  CHANGELOG.md
  src/__tests__/client.ts
  src/core/ApolloClient.ts
  src/core/ObservableQuery.ts
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/options.ts
  src/react/hooks/useLazyQuery.ts
  src/react/hooks/useQuery.ts
  src/react/types/types.ts
Labels: 👩‍🔬 needs-more-tests, 🧪 has-tests, ⚗️ needs-documentation

#9564 Refactor `useLazyQuery` to reuse `useInternalState` and make execution function call `reobserve` instead of `refetch`
  CHANGELOG.md
  src/__tests__/client.ts
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/fetchPolicies.ts
  src/core/watchQueryOptions.ts
  src/react/components/__tests__/client/Query.test.tsx
  src/react/hooks/__tests__/useLazyQuery.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/index.ts
  src/react/hooks/useLazyQuery.ts
  src/react/hooks/useQuery.ts
  src/react/types/types.ts
Labels: 🐞 bug, 👩‍🏭 refactor, ⚛️ React-related

#9595 Let `addTypenameToDocument` take any `ASTNode` (including `DocumentNode`, as before)
  CHANGELOG.md
  src/utilities/graphql/__tests__/transform.ts
  src/utilities/graphql/transform.ts
Labels: ⛑ TypeScript, :bulb: idea, 🧞‍♂️ enhancement, 🔠 quick-and-easy, 🧪 has-tests, 🥚 backwards-compatible

#9599 Fix extra `useQuery` result frames
  package.json
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/watchQueryOptions.ts
  src/react/components/__tests__/client/Mutation.test.tsx
  src/react/components/__tests__/client/Query.test.tsx
  src/react/hoc/__tests__/queries/errors.test.tsx
  src/react/hoc/__tests__/queries/index.test.tsx
  src/react/hoc/__tests__/queries/lifecycle.test.tsx
  src/react/hoc/__tests__/queries/loading.test.tsx
  src/react/hoc/__tests__/queries/skip.test.tsx
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/useQuery.ts
  src/react/ssr/RenderPromises.ts
  src/react/types/types.ts
Labels: 🐞 bug, :rose: has-reproduction, 🧞‍♂️ enhancement, 📟 regression, 🧪 has-tests, ⚛️ React-related, 📏 React.StrictMode

#9614 Update `@graphql-typed-document-node/core` to version 3.1.1
  package-lock.json
  package.json
Labels: ⛑ TypeScript, :christmas_tree: dependencies, 🧞‍♂️ enhancement, 🔠 quick-and-easy, 🥚 backwards-compatible

#9615 Batched Renovate updates
  package-lock.json
  package.json
  src/link/subscriptions/__tests__/graphqlWsLink.ts
Labels: :christmas_tree: dependencies

#9561 fix: set isMounted to true when remounted
  src/react/hooks/useMutation.ts
Labels: 🐞 bug, ⚛️ React-related

#9067 Release 3.6.0
  .vscode/launch.json
  CHANGELOG.md
  docs/source/data/queries.mdx
  package-lock.json
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/client.ts
  src/__tests__/fetchMore.ts
  src/core/ApolloClient.ts
  src/core/ObservableQuery.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/__tests__/ObservableQuery.ts
  src/core/__tests__/fetchPolicies.ts
  src/core/index.ts
  src/core/watchQueryOptions.ts
  src/link/batch-http/__tests__/batchHttpLink.ts
  src/link/batch/__tests__/batchLink.ts
  src/link/batch/batching.ts
  src/link/persisted-queries/__tests__/react.tsx
  src/react/components/__tests__/client/Mutation.test.tsx
  src/react/components/__tests__/client/Query.test.tsx
  src/react/hoc/__tests__/queries/errors.test.tsx
  src/react/hoc/__tests__/queries/index.test.tsx
  src/react/hoc/__tests__/queries/lifecycle.test.tsx
  src/react/hoc/__tests__/queries/loading.test.tsx
  src/react/hoc/__tests__/queries/skip.test.tsx
  src/react/hooks/__tests__/useLazyQuery.test.tsx
  src/react/hooks/__tests__/useMutation.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/index.ts
  src/react/hooks/useLazyQuery.ts
  src/react/hooks/useMutation.ts
  src/react/hooks/useQuery.ts
  src/react/ssr/RenderPromises.ts
  src/react/types/types.ts
  src/utilities/common/mergeOptions.ts
  src/utilities/graphql/__tests__/transform.ts
  src/utilities/graphql/transform.ts
  src/utilities/index.ts
Labels: 💬 discussion, 🛫 in-progress, 🧶 minor-release

#9610 Update Full-stack tutorial links to point to Odyssey
  CHANGELOG.md
  docs/source/development-testing/client-schema-mocking.mdx
  docs/source/get-started.mdx
  docs/source/local-state/local-resolvers.mdx
  docs/source/migrating/apollo-client-3-migration.mdx
Labels: 📝 documentation

#9637 Update Apollo PersistedQueries in the Apollo BatchHTTP Link
  docs/source/api/link/apollo-link-batch-http.mdx
Labels: 📝 documentation, 🔗 apollo-link
