Repository apollographql/apollo-client, pull requests merged in 2022-03, with the labels that each got.

#9470 Update reference to faker-js as new repository
  docs/source/development-testing/client-schema-mocking.mdx
Labels: 📝 documentation

#9223 Allow passing function to `useQuery` for finer-grained `options` control
  CHANGELOG.md
  package.json
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/options.ts
  src/react/hooks/useLazyQuery.ts
  src/react/hooks/useQuery.ts
  src/react/types/types.ts
Labels: 🛫 in-progress, 🧪 has-tests, ⚛️ React-related, ⚗️ needs-documentation, 🥚 backwards-compatible

#9222 Provide more context to `nextFetchPolicy` functions
  docs/source/data/queries.mdx
  package.json
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/client.ts
  src/core/ObservableQuery.ts
  src/core/QueryManager.ts
  src/core/__tests__/fetchPolicies.ts
  src/core/index.ts
  src/core/watchQueryOptions.ts
Labels: 📝 documentation, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests, 🥚 backwards-compatible

#9504 Avoid full reapplication of `cache-and-network` and `network-only` fetch policies after successful `fetchMore`
  CHANGELOG.md
  package.json
  src/__tests__/client.ts
  src/__tests__/fetchMore.ts
  src/core/ObservableQuery.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
Labels: 👩‍🏭 refactor, 🛫 in-progress, 🧞‍♂️ enhancement, 🧪 has-tests, 💸 caching
