Repository apollographql/apollo-client, pull requests merged in 2023-03, with the labels that each got.

#10600 Fix warnings for `useSuspenseQuery` tests
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
Labels: 🧞‍♂️ enhancement, ⏲️ react-suspense

#10601 Fix issue where cache updates would not cause rerenders in `useSuspenseQuery` while in strict mode
  config/bundlesize.ts
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/react/hooks/useSuspenseQuery.ts
Labels: 📏 React.StrictMode, ⏲️ react-suspense

#10633 Fix type policy inheritance involving fuzzy `possibleTypes`
  .changeset/odd-students-crash.md
  config/bundlesize.ts
  src/cache/inmemory/__tests__/policies.ts
  src/cache/inmemory/policies.ts
Labels: 🐞 bug, 🧪 has-tests, 💸 caching

#10651 Fix an issue where `useSuspenseQuery` would not respond to cache updates when using a cache-first fetch policy with data in the cache when the hook is mounted
  .changeset/funny-peas-change.md
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/react/hooks/useSuspenseQuery.ts
Labels: 🐞 bug, ⏲️ react-suspense

#10660 Upgrade to TypeScript 5.0
  .changeset/small-elephants-poke.md
  package-lock.json
  package.json
Labels: ⛑ TypeScript, 🛫 in-progress, 🥚 backwards-compatible, 🧹maintenance

#10656 Ensure `refetch`, `fetchMore`, and `subscribeToMore` functions returned by `useSuspenseQuery` are referentially stable between renders
  .changeset/silver-radios-chew.md
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/react/hooks/useSuspenseQuery.ts
Labels: 🧞‍♂️ enhancement, ⏲️ react-suspense

#10567 Allow `ApolloCache` implementations to specify default value for `assumeImmutableResults` client option
  .changeset/small-tomatoes-explode.md
  src/cache/core/cache.ts
  src/cache/inmemory/inMemoryCache.ts
  src/core/ApolloClient.ts
  src/core/QueryInfo.ts
  src/core/QueryManager.ts
  src/core/types.ts
Labels: :racehorse: performance, :bulb: idea, 🧞‍♂️ enhancement, 🧩 implementation-detail, 🥚 backwards-compatible

#10671 Remove all Jest mocking of `optimism` dependency
  package-lock.json
  package.json
  src/cache/inmemory/__mocks__/optimism.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/__tests__/readFromStore.ts
Labels: 🧞‍♂️ enhancement, 🧩 implementation-detail, 🧪 has-tests, 🔬 testing-utilities

#10672 Fix the compatibility between `useSuspenseQuery` and React's `useDeferredValue` and `startTransition` APIs
  .changeset/neat-rockets-sleep.md
  .prettierignore
  config/bundlesize.ts
  src/core/ObservableQuery.ts
  src/core/networkStatus.ts
  src/core/watchQueryOptions.ts
  src/react/cache/QuerySubscription.ts
  src/react/cache/SuspenseCache.ts
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/react/hooks/internal/__use.ts
  src/react/hooks/internal/index.ts
  src/react/hooks/internal/useIsomorphicLayoutEffect.ts
  src/react/hooks/internal/useStrictModeSafeCleanupEffect.ts
  src/react/hooks/useSuspenseQuery.ts
  src/react/types/types.ts
  src/utilities/common/mergeOptions.ts
  src/utilities/promises/decoration.ts
Labels: 🐞 bug, 👩‍🏭 refactor, ⏲️ react-suspense

#10592 feat: Multipart Subscriptions
  .changeset/nervous-tomatoes-act.md
  config/bundlesize.ts
  config/jest.config.js
  src/__tests__/__snapshots__/exports.ts.snap
  src/__tests__/__snapshots__/graphqlSubscriptions.ts.snap
  src/__tests__/graphqlSubscriptions.ts
  src/core/QueryManager.ts
  src/errors/__tests__/ApolloError.ts
  src/errors/index.ts
  src/link/core/types.ts
  src/link/http/__tests__/HttpLink.ts
  src/link/http/createHttpLink.ts
  src/link/http/parseAndCheckHttpResponse.ts
  src/react/hoc/__tests__/subscriptions/subscriptions.test.tsx
  src/react/hooks/__tests__/useQuery.test.tsx
  src/react/hooks/__tests__/useSubscription.test.tsx
  src/utilities/common/incrementalResult.ts
Labels: 🧞‍♂️ enhancement, 🥚 backwards-compatible, 🛎 subscriptions

#10697 Improve flaky useQuery tests by not hard-coding request counts
  src/react/hooks/__tests__/useQuery.test.tsx
Labels: 🧞‍♂️ enhancement, 🧩 implementation-detail, 🔬 testing-utilities

#10669 docs(ApolloClient): added documentation for `getObservableQueries` method
  docs/source/api/core/ApolloClient.mdx
  src/core/ApolloClient.ts
Labels: 📝 documentation

#10698 Unmounting a component before a query is resolved via `useLazyQuery` lets the promise resolve instead of aborting the promise.
  .changeset/nine-lemons-swim.md
  src/core/ObservableQuery.ts
  src/react/hooks/__tests__/useLazyQuery.test.tsx
  src/react/hooks/useLazyQuery.ts
  src/react/hooks/useQuery.ts
Labels: 🐞 bug, ⚛️ React-related, 🥚 backwards-compatible
