Repository apollographql/apollo-client, pull requests merged in 2023-06, with the labels that each got.

#10951 Improve `useBackgroundQuery` type interface and add type tests
  .changeset/friendly-mugs-repeat.md
  src/react/hooks/__tests__/useBackgroundQuery.test.tsx
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/react/hooks/useBackgroundQuery.ts
  src/react/hooks/useSuspenseQuery.ts
  src/react/types/types.ts
Labels: ⛑ TypeScript, 🧞‍♂️ enhancement

#10895 Improve TypeScript type-safety of `cache.modify`
  .changeset/afraid-zebras-punch.md
  .changeset/cold-tips-accept.md
  src/cache/core/__tests__/cache.ts
  src/cache/core/cache.ts
  src/cache/core/types/Cache.ts
  src/cache/core/types/common.ts
  src/cache/inmemory/__tests__/cache.ts
  src/cache/inmemory/entityStore.ts
  src/cache/inmemory/inMemoryCache.ts
  src/cache/inmemory/types.ts
Labels: ⛑ TypeScript

#10969 Suspense cache: use Trie directly
  .changeset/tasty-wasps-relate.md
  src/react/cache/SuspenseCache.ts
  src/react/hooks/__tests__/useBackgroundQuery.test.tsx
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/testing/matchers/index.d.ts
  src/testing/matchers/index.ts
  src/testing/matchers/toHaveSuspenseCacheEntryUsing.ts
Labels: ⏲️ react-suspense

#10940 Add support for `skip` option to `useSuspenseQuery` and `useBackgroundQuery`
  .changeset/mean-tigers-thank.md
  .prettierignore
  .size-limit.cjs
  src/react/cache/QueryReference.ts
  src/react/hooks/__tests__/useBackgroundQuery.test.tsx
  src/react/hooks/__tests__/useSuspenseQuery.test.tsx
  src/react/hooks/useBackgroundQuery.ts
  src/react/hooks/useSuspenseQuery.ts
  src/react/types/types.ts
Labels: ⏲️ react-suspense

#10996 Add 3.9 to roadmap
  ROADMAP.md
Labels: 📝 documentation

#10663 chore: update subscriptions docs to include multipart over HTTP
  docs/source/data/subscriptions.mdx
  docs/source/development-testing/static-typing.md
Labels: 📝 documentation, 🛎 subscriptions

#11010 Hide queryRef in a Symbol in `useBackgroundQuery` return value
  .changeset/smooth-clouds-sort.md
  .size-limit.cjs
  src/react/cache/QueryReference.ts
  src/react/cache/SuspenseCache.ts
  src/react/hooks/__tests__/useBackgroundQuery.test.tsx
  src/react/hooks/useBackgroundQuery.ts
  src/react/hooks/useSuspenseQuery.ts
Labels: 🧞‍♂️ enhancement, ⏲️ react-suspense

#10960 Support `returnPartialData` and `refetchWritePolicy` in `useBackgroundQuery`
  .changeset/spotty-news-stare.md
  src/react/hooks/__tests__/useBackgroundQuery.test.tsx
  src/react/hooks/useBackgroundQuery.ts
  src/react/types/types.ts
  src/utilities/index.ts
Labels: ⏲️ react-suspense

#10998 Update warning message when discarding unmergeable cache
  src/cache/inmemory/writeToStore.ts
Labels: 🏓 awaiting-team-response
